body {
    font-family: Arial, sans-serif;
    margin-top: 100px;
    background-color: white; /* Black background for body */
    color: #fff; /* White text color */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2); /* White shadow */
    transition: 0.3s;
    width: 220px;
    height: 220px;
    border-radius: 10px;
    background-color: #333; /* Dark grey background for card */
    border: none; /* No border */
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    padding: 15px;
    color: #fff; /* White text color */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.3); /* White shadow on hover */
    transform: scale(1.05);
}

.container {
    padding: 10px 16px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold; /* Make the title bold */
}

.card p {
    font-size: 16px;
    line-height: 1.5; /* Increase line height for better readability */
}

.card p.done {
    color: limegreen; /* Bright green for done */
}

.card p.not-done {
    color: crimson; /* Bright red for not done */
}

#tasks-title {
    color: white; /* White text color */
    font-size: 32px; /* Increase font size */
    text-align: center; /* Center align the text */
    margin-bottom: 20px;
}

.title-div {
    background-color: #333; /* Black background */
    border: 3px solid #333; /* White border */
    border-radius: 10px;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* Center horizontally */
}

.wrapper {
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow the items to wrap as needed */
    justify-content: center; /* Center align the items */
    align-items: flex-start; /* Align items vertically to the start */
    padding: 20px;
}

.show-form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.show-view-button {
    background-color: white;
    color: #333;
    border-radius: 8px;
    border: none;
    padding: 5px 10px;
    transition: transform 0.3s;
    cursor: pointer;
}

.show-view-button:hover {
    transform: scale(1.05);
}
