body{
    margin: 0;
    background-color: white;
    font-family: Arial, sans-serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    border-radius: 10px;
    background-color: white; /* Changed from #333 to white */
    border: 3px solid #555; /* Added black border */
    margin: 10px;
    float: left; /* This makes the cards align horizontally */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    padding: 10px;
    color: black; /* Added black color */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.container {
    padding: 10px 16px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
}

.card p.done {
    color: green;
}

.card p.not-done {
    color: red;
}

#tasks-title {
    color: black; /* Changed from white to black */
}   

.title-div{
    background-color: white; /* Changed from #333 to white */
    border: 3px solid #333; 
    border-radius: 10px;/* Added black border */
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
